.content {
	width: 880px;
	margin: 0 auto;
}

.profile {
	margin-top: 40px;
	display: flex;
}

/* TELAS PEQUENAS ATÉ 544px */
@media screen and (max-width: 544px) {
	.content {
		max-width: 282px;
	}
}
