.element {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 17px;
}

.card {
	width: 282px;
	height: 361px;
	background: #ffffff;
	border-radius: 16px;
	position: relative;
}

.card__img {
	border-radius: 16px 16px 0 0;
	width: 282px;
	height: 282px;
}

.card__text-container {
	background: #ffffff;
	display: flex;
	align-items: center;
	margin: 25px 0 31px;
	/* overflow: hidden; */
	/* position: relative; */
}

.card__text {
	background: #ffffff;
	color: #000000;
	font-weight: 900;
	font-size: 24px;
	line-height: 100%;
}

.card__like-button {
	width: 21px;
	height: 19px;
	background: #ffffff;
	cursor: pointer;
}

.card__like-button:hover {
	opacity: 50%;
}

.card__like-button.liked {
	transform: scale(1.1);
	transition: transform 0.2s;
}

.card__delete-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	cursor: pointer;
	font-size: 18px;
	padding: 5px;
}

.card__delete-button:hover {
	opacity: 80%;
}

@media screen and (max-width: 1024px) {
	.element {
		width: 584px;
		justify-items: center;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.element {
		max-width: 282px;
		grid-template-columns: repeat(1, 1fr);
	}
}
