.header {
	max-width: 1024px;
	height: 74px;
	margin-top: 45px;
	border-bottom: 1px solid #E6E6E6;
}

.header__logo {
	width: 173px;
	height: 33px;
}

/* TELAS PEQUENAS ATÉ 544px */
@media screen and (max-width: 544px) {
	.header {
		margin-top: 28px;
	}

	.header__logo {
		margin-left: 27px;
		width: 126px;
		height: 24px;
	}
}
